BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -4
PointerBindsToType: false
AllowShortIfStatementsOnASingleLine: false
ConstructorInitializerIndentWidth: 4
DerivePointerAlignment: false
BreakBeforeBraces: Allman
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
SpaceBeforeAssignmentOperators: true
SpaceAfterControlStatementKeyword: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpaceInEmptySquareBrackets: false
SpacesInAngles: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
TypenameHighlighting: false
IndentPPDirectives: BeforeHash
IndentExternBlock: AfterExternBlock
DeriveLineEnding: false